<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">{{title}}</a>
  <form class="form-inline">
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My Cart
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
  </form>
</nav>
<app-product></app-product>
<simple-notifications [options]="options"></simple-notifications>